/***** Global Selectors  ******/
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border-style: solid;
    border-width: 0px; */
}
#main-nav {
    margin-left: auto;
}

#main-nav ul {
    display: flex;
    /* justify-content:  */
    /* width: 300px; */
    background-color: blue;
    /* padding: 20px;
    margin: 20px;*/
}

#main-nav ul li {
    list-style: none;
    border-bottom: solid;
    padding: 0px;
    margin: 0px;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightcoral;
}
/***** Element Selectors  ******/


/***** Class Selectors  ******/

/* .nav-name {
    box-sizing: 80px;
    padding: 10px;
}
.nav-item {
    display: flex;
    /* justify-content:; */
    
    /* width: auto;
    padding: 10px;
    margin: 10px; */
/* }
.nav-item > *{
    display: flex;
    padding: 10px;
}
/***** ID Selectors  ******/
/* #nav-name {
    display: flex;
    text-align: center;
    padding: 10px;

    color: 
}  */

/***** Media Queries Selectors  ******/