/***** Global Selectors  ******/
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}
.header-container > * {
    border-style: dashed;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    background-color: lightcoral;
}

.header-container h2 {
    padding: 0px 20px 0px 50px;
    background-color: purple;
    border-style: solid;
}

#main-nav ul {
    display: flex;
    gap: 20px;
    margin-right: 50px;
    padding-left: 0px;
    background-color: blue;
}

#main-nav ul li {
    list-style: none;
    border-bottom: 5px solid red;
    padding: 5px;
    margin: 0px;
}

.hero-image {
    display: flex;
    border: solid;
    height: 200px;
    background-image: url(./assets/bg-hero-banner-06.png);
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-image h2 {
    border: solid white;
    color: white;
    margin-right: 50px;
    padding: 10px;
}
/***** Element Selectors  ******/

/***** Class Selectors  ******/


/***** ID Selectors  ******/

/***** Media Queries Selectors  ******/