/***** Global Selectors  ******/
:root {
    --primry-background-color: #F4F4F9;
    --secondary-background-color: #2F4550;
    --border-color: #b8dbd9;
    --font-color: #1b263b;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    height: auto;
    margin: auto;
    background-color: var(--primry-background-color);
}

h1 {
    font-size: 3em;
}

p {
    line-height: 1.5;
    color: var(--font-color);
}

a {
    color: inherit;
    font-style: normal;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a:hover {
    font-size: larger;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background-color);
}

.header-container h1 {
    background-color: var(--border-color);
    color: var(--secondary-background-color);
    border-style: solid;
    padding: 10px 20px 10px 50px;
    margin: 10px 0px 10px 0px;
}

#main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--border-color);
    gap: 20px;
    margin-right: 50px;
    padding: 0 10px 10px 10px;
}

#main-nav a {
    padding: 10px 10px;
    border-bottom: 5px solid  var(--border-color);
}
.hero-image {
    display: flex;
    border: solid;
    height: 200px;
    background-image: url("../images/bg-hero-banner-06.png");
    background-position: center;
    background-size: cover;
    align-items: flex-end;
}

.hero-image h2 {
    color: var(--secondary-background-color);
    background-color: var(--border-color);
    margin: 0px 0px 10px 20px;
    padding: 10px;
}
.hero-image img {
    height: 100px;
    width: 100px;
    position: relative;
    right: 130px;
    bottom: 75px;
}

.main-container {
    background-color: var(--primry-background-color);
    color: var(--font-color);
    max-width: 88%;
    margin: 20px auto 45px auto;
}

.page-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 25px 0px;
    padding: 10px 0px;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    font-size: 4vw;
    line-height: 1.1;
    border-right: 5px solid var(--font-color);
}

.page-section > div {
    flex: 0 0 75%;
}

.page-section > span {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    display: flex;
    align-items: flex-end;
    flex: auto;
    margin: 5px;
    padding-bottom: 20px;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    border:5px solid var(--border-color);
    line-height: 1.5;
}

.flex-item > div h3 {
    font-size: 1.5vw;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item > * {
    background-color: var(--border-color);
    padding: 10px;
}

#surf {
    background-image: url(../images/silver-surfer.png);
    background-position: center;
    background-size: cover;
}

#led {
    background-image: url(../images/led-wall.png);
    background-position: center;
    background-size: cover;
}
#calculator {
    background-image: url(../images/javascript.png);
    background-position: center;
    background-size: cover;
}

#mern {
    background-image: url(../images/mern.png);
    background-position: center;
    background-size: cover;
}

#html {
    background-image: url(../images/css.png);
    background-position: center;
    background-size: cover;
}

address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    color: var(--font-color);
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
}

address > * {
    padding: 10px 20px;
    border-bottom: 5px solid  var(--font-color);
}

/* Media Queries */
@media (max-width: 700px) {
    .header-container,
    .page-section {
        display: flex;
        flex-direction: column;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        padding-left: 75px;
    }

    .page-section h2 {
        display: flex;
        justify-content: center;
        border-bottom: solid 5px var(--font-color);
        border-right: none;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
}